@{
    ViewData["Title"] = "Home Page";
}

<!--carrusel de informacion para el usuario-->
<div id="carouselExampleSlidesOnly" class="carousel slide m-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://thumbs.dreamstime.com/b/foto-panor%C3%A1mica-del-interior-de-la-biblioteca-hist%C3%B3rica-oct%C3%A1gono-en-queen-mary-universidad-londres-extremo-reino-unido-milla-134154363.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.euronews.com/articles/stories/03/58/24/72/1440x810_cmsv2_b5d5a786-a86e-5aa4-9c36-5dfeeb1e05cb-3582472.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.comunidad.madrid/sites/default/files/styles/header_featured_image/public/img/edificios/biblioteca_pedro_salinas.jpg?itok=ZnQ_vkn8" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<!--informacion general-->
<div class="row">
    <div class="col-sm-6">
        <div class="card text-center mb-3">
            <div class="card-header">
                informacion general
            </div>
            <div class="card-body">
                <h5 class="card-title">Nuestra innovacion</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center mb-3">
            <div class="card-header">
                informacion general
            </div>
            <div class="card-body">
                <h5 class="card-title">¿Quiénes somos?</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

<!--ubicacion por google-->
<div class="row m-2">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31785.841368150923!2d-73.121792!3d5.226496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1657295566508!5m2!1ses!2sco" class="d-block w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<!--informacion del consultorio-->
<div class="row">

    <div class="col-sm-4 mb-3">
        <div class="card card border-info">
            <div class="card-body">
                <h5 class="card-title">Vision</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-3">
        <div class="card card border-info">
            <div class="card-body">
                <h5 class="card-title">Mision</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-3">
        <div class="card card border-info">
            <div class="card-body">
                <h5 class="card-title">Valores</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

</div>
