
@{
    ViewData["Title"] = "Index";
}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear un autor</h5>
        <p class="card-text">Esta opción le permite crear un autor, establecerá los datos para la creación de los diferentes autores de su sistema</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Athore" asp-action="Create">crear</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Otras opciones...</h5>
        <p class="card-text">ejemplo card para establecer otras opciones del sistema.</p>
        <a href="#" class="btn btn-primary">otros</a>
      </div>
    </div>
  </div>
</div>